<div class="jTron">
    <div class=" jumbotron " id="jTronAbout">
        <div class="container text-center">
            <h1>About Site</h1>
            <p>Helping researchers and citizen entomologists study the biodiversity, behavior, and ecology of ants.</p>
            <a href="/" class="btn btn-default" id="aboutReturnBtn" style="width:100px;">Return</a>
        </div>
    </div>
</div>

<div class="container" id="about">
    <h4>Motivation</h4>
    <hr>
    <p>The biological classification system and identification of animal and plant taxa are necessary for any research project
        involving living organisms. Unfortunately, the task of identification of many species or higher taxa (such as genera
        or families) requires considerable expertise developed over years of taxonomic research. This is especially true
        for hyper-diverse groups of organisms, such as insects. </p>
    <p>The shrinking number of active insect taxonomists and their limited time resources leave many biologists to try and identify
        their samples on their own, instead of consulting experts. This is usually done using so-called dichotomous keys,
        which are often cumbersome and challenging to use for non-experts. As a result, the correct identification of study
        organisms is often difficult. An alternative approach, only recently available due to large amount of digitized biodiversity
        data and developments in neural network model applications, is using deep learning for automated classification of
        images of animals and plants.</p>
    <p> Well-performing tools for automated identification of biological species from images will constitute a significant development
        in life sciences and allow more effective conservation efforts. This system will be useful for documenting and digitizing
        natural history specimens from museum collections around the world and will help foster citizen science by empowering
        amateur naturalists to identify insects in the field. </p>
</div>