<div class="jTron">
    <div class=" jumbotron " id="jumbotron-display">
        <div class="container text-center">
            <h1>Welcome to Ant Classifier</h1>
            <p>Using Artificial Intelligence to identify and classify your images.</p>
            <a href="/about.html" class="btn btn-default" id="learnBtn">Learn More</a>
        </div>
    </div>
</div>