<div class="jTron">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Welcome to Ant Classifier</h1>
            <p>Using Artificial Intelligence to identify and classify your images.</p>
            <a href="/upload" class="btn btn-primary my-2">Get Started!</a>
            <a href="/about" class="btn btn-default">Learn More</a>
        </div>
    </div>
</div>