<div class="container box dzone" id="dropz">
  <p id="steps" style="color:green">Upload your image.</p>
  <form action="/user-images" ondrop="drop(event)" onclick="drop(event)" class="dropzone" method="post" id="mydz" style="border-style: dashed;"></form>
</div>

<div id="classification-results" class="container box">
</div>