<div class="container box dzone">
  <p id="steps" style="color:green">Upload your image.</p>
  <form action="/user-images" class="dropzone" method="post" id="user-image-drop-zone"
    style="border-style: dashed;"></form>
</div>

<div id="classification-results" class="container box">
</div>