 .login{
    float:left;
  }

  .box{
      margin-top: 5px;}

  .navbar{
      margin-bottom:0;
      border-radius:0;
    }

  .dropzone{

      margin-left: auto;
      margin-right: auto;
    }

  .submitButton {
      border-radius:10px;
      display:block;
      width: 100px;
      text-align: center;
      color:black;
      float: left;
      
      }
  .cancelButton {

      border-radius:10px;
      display:block;
      width: 100px;
      text-align: center;
      color:black;
      float: left;
      margin-left: 5px;
      }
  .returnButton {
      border-radius:10px;
      display:block;
      width: 100px;
      text-align: center;
      color:black;
      float: left;
      
      }
  .submitLoginButton {
      border-radius:5px;
      width: 170px;
      height:28px;
      margin-left: 72px;
      text-align: center;
      color:black;
      margin-bottom: 5px; 
      margin-top: 15px;
    
    }
  .regButton {
      border-radius:5px;
      margin-left: 72px;
      width: 170px;
      text-align: center;
      color:black;
      margin-top: 8px;
      height:28px;

    }

      
  .regCancelButton {
      border-radius:5px;
      margin-left: 10px;
      width: 120px;
      text-align: center;
      color:black;
      margin-top: 8px;
      height:28px;

    }
  .regSubmitButton {
      border-radius:5px;
      margin-left: 30px;
      width: 120px;
      text-align: center;
      color:black;
      margin-top: 8px;
      height:28px;

    } 
  /* REGISTRATION MOVED TO NEW FILE 
  .regCancelButton {
      border-radius:5px;
      margin-left: 10px;
      width: 120px;
      text-align: center;
      color:black;
      margin-top: 8px;
      height:28px;

    }
  .regSubmitButton {
      border-radius:5px;
      margin-left: 30px;
      width: 120px;
      text-align: center;
      color:black;
      margin-top: 8px;
      height:28px;

    }
    */
  .resTable{

      margin-left: auto;
      margin-right: auto;
    }
  .dzone{
      padding-top: 120px;
      
   }